<footer class="footer navbar-dark bg-dark text-muted w-70 p-3 mw-100" th:fragment="footer">
	<!--
		<div class="container">
			<span class="text-muted">Place sticky footer content here.</span>
			
		</div>
			
		-->

	<div class="container">

		<div class="row footerro">
			<span>
				<a href="https://www.linkedin.com/in/erick-bruno/"><img src="/assets/images/icones/linkedin.png"
						alt=""></a>
				<a href="https://wa.me/5584987084306?text=%F0%9F%91%8B+Ol%C3%A1%21+Como+posso+ajudar%3F+%F0%9F%91%8B"><img
						src="/assets/images/icones/whatsapp.png" alt=""></a>
				<a href="mailto:erickjava1991@outlook.com?subject=&body="><img src="/assets/images/icones/email.png"
						alt=""></a>
				<a href="https://github.com/Erick-SouDev"><img src="/assets/images/icones/github.png" alt=""></a>

			</span>
			<br />
			<a href="">Copyright © erick-soudev | Todos os direitos reservados. a erick bruno </a>
		</div>
	</div>

</footer>