
<!DOCTYPE html>

<html lang="pt-br" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:insert="~{fragmentos/head :: head('login')}">
</head>

<body>

	<header th:insert="~{fragmentos/header :: header}"></header>
	<div class="half">
		<div class="contents order-2 order-md-1">


			<div class="container">


				<div class="row align-items-center justify-content-center">

					<div class="col-md-6">
						<div class="form-block">
							<div class="text-center mb-5">
								<img src="../static/images/online.png" class="logo" width="120" height="80">
								<br>
								<h3>Bem vindo ao! <strong>VirtualEduca</strong></h3>
							</div>
							<form th:action="@{/login}" method="post">
								<div class="form-group first">
									<label for="email">Email</label>
									<input type="email" name="email" class="form-control" placeholder="@gmail.com"
										id="email" value="">
								</div>
								<div class="form-group last mb-3">
									<label for="senha">Senha</label>
									<input type="password" class="form-control" placeholder="********" id="senha" value="">
								</div>

								<div class="content-btn">
									<button type="submit" class="btn btn-info">Iniciar Sessão </button>
									<button type="button" class="btn btn-info" data-toggle="modal"
										data-target="#exampleModal">
										Recuperar Senha
									</button>


								</div>

							</form>

						</div>
					</div>
				</div>
			</div>
		</div>


	</div>




</body>
<script src="js/jquery-3.3.1.min.js"></script>
<script src="js/popper.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/main.js"></script>

<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
	integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
	crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"
	integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct"
	crossorigin="anonymous"></script>

</html>